@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@theme {
  /* Color */
  --color-primary: #bea67c;
  --color-dark: #000000;
  --color-gray: #464646;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.swiper-pagination-bullet {
  background-color: #d1d0d0;
  opacity: 1;
  transition: all 0.3s ease;
}

/* Dot active */
.swiper-pagination-bullet-active {
  background-color: #bea67c !important;
  opacity: 1 !important;
  transform: scale(1.2);
}

.custom-pagination {
  left: 3.75rem !important;
  bottom: 1.5rem !important;
}
